{{page-title 'Profile'}}
<OrganizationProfile::Search
  @term={{@model.term}}
  @onSubmit={{this.onSubmit}}
/>
<OrganizationProfile @organization={{@model.data.value.organization}} />
<OrganizationProfile::Tabs />
<div local-class='container'>
  {{outlet}}
</div>