{{#if @hasNextPage}}
  <div class='flex items-center gap-4'>
    <Button {{on 'click' @loadMore}} disabled={{@loading}}>
      {{if @loading 'Loading...' 'Load more'}}
    </Button>
    <div class='text-gray-600'>
      Listing
      {{@count}}
      out of
      {{@totalCount}}
    </div>
  </div>
{{/if}}