<div local-class='user-profile'>
  <div local-class='container'>
    <Avatar @user={{@organization}} />
    <div class='flex flex-col ml-4'>
      <div local-class='username'>
        {{@organization.name}}
      </div>
      {{#if @organization.bio}}
        <div local-class='bio'>
          {{@organization.bio}}
        </div>
      {{/if}}
      <div local-class='info'>
        <div>
          <FaIcon @icon='map-marker-alt' />
          {{@organization.location}}
        </div>
        <div>
          <FaIcon @icon='link' />
          <a
            href={{@organization.websiteUrl}}
            target='_blank'
            rel='noopener noreferrer'
          >
            {{@organization.websiteUrl}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>